name: Play 2.3 Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Java 8
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Give activator permissions
        run: chmod +x activator-launch-1.2.12.jar

      - name: Run sbt compile using activator launcher
        run: |
          java -Xmx2G -Xms512M \
          -jar activator-launch-1.2.12.jar \
          compile

      - name: Package (dist)
        run: |
          java -Xmx2G -Xms512M \
          -jar activator-launch-1.2.12.jar \
          dist

      - name: Upload built artifact
        uses: actions/upload-artifact@v3
        with:
          name: play23-dist
          path: target/universal/*.zip
